<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    
    <form action="" method="POST">
        <input type="text" name="username" placeholder="Username">
        <input type="password" name="privatekey" placeholder="Enter your private key">
        <input type="submit" value="LOGIN">
    </form>

    {% if msg is not none %}
        <p>{{ msg }}</p>
    {% endif %}
   
</body>
</html>


